.users {
  max-width: 100%;
  margin: 30px;

  @media (min-width: $bp-tablet) {
    max-width: 700px;
    margin: 30px 0 0 30px;
  }

  @media (min-width: $bp-base) {
    margin: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    justify-content: center;
    text-align: center;

    @media (min-width: $bp-mobileplus) {
      grid-template-rows:1fr 70px 1fr;
      row-gap: 15px;
    }

    @media (min-width: $bp-tablet) {
      grid-template-rows:1fr 40px 1fr;
      align-items: center;
      text-align: unset;
      column-gap: 15px;
    }

    @media (min-width: $bp-base) {
      row-gap: 20px;
    }
  }

  &__img { 
    grid-row-start: 1;

    img {
      vertical-align: middle;
      width: 80px;
      border-radius: 50%;
    }

    @media (min-width: $bp-mobileplus) {
      grid-row-start: 2;
    }  
  }

  &__text {
    grid-column-start: 1;
    margin: 0;
    padding: 0;

    &--nick {
      color: $dark-text;
    }

    @media (min-width: $bp-tablet) {
      grid-column-start: 2;
    }
  }

  &__location {
    margin: 16px 0;
    text-align: center;

    @media (min-width: $bp-mobileplus) {
      margin: 0 0 20px 0;
    }

    @media (min-width: $bp-tablet) {
      text-align: unset;
    }
  }

  &__button {
    width: 100%;
    justify-self: center;
    max-width: 80px;
    border: 1px solid $button-color;
    border-radius: 40px;
    text-align: center;
    padding: 10px;
    color: $light-text;
    cursor: pointer;

    @media (min-width: $bp-base) {
      padding: 15px;
    }
  
    &:hover {
      transition-duration: 0.2s;
      background-color: #1a8cd8;
    }
  }
}