.header {
  background-color: $background-lighter;
  padding: 5px 0 5px 30px;

  @media (min-width: $bp-tablet) {
    padding: 5px 0 5px 36px;
  }

  &__image {
    @media (min-width: $bp-tablet) {
      display: none;
    }

    img {
      width: 50px;
    }
  }

  @media (min-width: $bp-tablet) {
    grid-area: h;
  }
}