.posts {
  background-color: $background-lighter;
  margin-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 15px;
  border-radius: 10px;
  width: 100%;
  
  @media (min-width: $bp-tablet) {
    justify-items: unset;
    margin-top: 0;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
  }

  @media (min-width: $bp-base) {
    max-width: 697px;
    width: 100%;
  }

  &__button {
    border-radius: 40px;
    outline: none;
    padding: 15px 50px;
    cursor: pointer;
    background: #2BA7F3;
    border-style: none;
    max-width: 150px;
    color: white;
    font-size: 16px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    margin: 0 20px 20px 20px;

    @media (min-width: $bp-tablet) {
      margin: 0 0 20px 20px;
    }
  
    &:hover {
      transition-duration: 0.2s;
      background-color: rgba(26, 140, 216);
    }
  }

  &__wrapper {
    max-width: 240px;
    width: 100%;
    display: grid;
    justify-items: center;

    @media (min-width: $bp-tablet) {
      max-width: 410px;
      justify-items: unset;
      padding: 0 20px;
      margin-bottom: 10px;
    }

    @media (min-width: $bp-base) {
      margin-bottom: 0x;
    }
    @media (min-width: $bp-desktop) {
      max-width: 500px;
    }
  }

  &__title {
    color: $light-text;
    margin: 0;
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid rgba(40, 39, 39, 0.726);
    text-align: center;
    width: 100%;
    max-width: 260px;
    margin-bottom: 15px;
    font-size: 16px;

    @media (min-width: $bp-tablet) {
      text-align: unset;
      width: auto;
      max-width:460px;
      margin-bottom: 20px;
      font-size: 18px;
    }
    
    @media (min-width: $bp-base) {
      max-width: 697px;
    }
  }

  &__item {
    column-gap: 20px;
    background: $posts-light-bg;
    padding: 10px;
    display: grid;
    grid-template-columns:  40px 1fr 45px;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    max-width: 230px;

    @media (min-width: $bp-tablet) {
      padding: 20px;
      max-width: 281px;
    }

    @media (min-width: $bp-base) {
      max-width: 360px;
    }

    @media (min-width: $bp-desktop) {
      max-width: 500px;
    }

    &--user {
      width: auto;
      max-width: inherit;
      background-color: $background-lighter;
      color: $light-text;
      grid-template-columns: 1fr;

      @media (min-width: $bp-tablet) {
        grid-template-columns: 225px 1fr 1fr;
        max-width: 440px;
      }

      @media (min-width: $bp-base) {
        grid-template-columns:  280px 1fr 1fr;
        max-width: 580px;
      }
    }
  }

  &__img {
    img {
      width: 50px;
      border-radius: 50px;
    }
  }

  &__text {
    padding-left: 5px;
    color: $light-text;
    font-size: 14px;

    @media (min-width: $bp-tablet) {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  &__like {
    display: flex;
    justify-content: space-around;
    grid-column-end: 4;
    align-items: end;

    img {
      width: 16px;

      @media (min-width: $bp-tablet) {
        width: 20px;
      }
    }

    span {
      color: $light-text;
      font-size: 14px;

      @media (min-width: $bp-tablet) {
         font-size: 16px;
      }
    }
  }
}