$light-text: #f3ebeb;
$dark-text:#979a9f;
$bp-mobile: 320px;
$bp-mobileplus: 500px;
$bp-tablet: 768px;
$bp-base: 1000px;
$bp-desktop: 1280px;
$button-color: #1a8cd8;

$background-lighter: #303741;
$background-dark: #262D37;
$posts-light-bg: #484c55;

body {
  background-color: $background-lighter;
  height:100%
}

.wrapper {
  max-width: 3840px;
  width: 100%;
  background-color: $background-lighter;
}

.container {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr;
  max-width: 1600px;
  background-color: $background-lighter;
  
  @media (min-width: $bp-tablet) {
    grid-template-columns: 4fr 10fr;
    grid-template-areas: 
    "n h"
    "n c";
  }

  @media (min-width: $bp-base) {
    grid-template-columns: 2fr 10fr;

  }
}

a {
  text-decoration: none;
  color: $light-text;
}

input {
  padding: 15px;
  width: 230px;
  border-radius: 15px;
  border-style: none;
  background: rgba(241, 240, 240, 0.966);
  outline:none;
  margin: 5px;

  @media (min-width: $bp-tablet) {
    width: 280px;
    padding: 20px;
    margin: 20px; 
  }

  @media (min-width: $bp-base) {
    width: 500px;
  }
}

@import './components/Profile/profile.scss';
@import './components/Profile/Posts/posts.scss';
@import './components/Navbar/navbar.scss';
@import './components/Header/header.scss';
@import './components/Content/content.scss';
@import './components/Dialogs/dialogs.scss';
@import './components/Users/users.scss';