.dialogs {
  background-color:#262D37;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $bp-tablet) {
      grid-template-columns: 3fr 9fr;
    }
  }

  &__button {
    margin: auto;
    border-radius: 40px;
    outline: none;
    padding: 15px 50px;
    cursor: pointer;
    background: #2BA7F3;
    border-style: none;
    max-width: 150px;
    color: white;
    font-size: 16px;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;

    @media (min-width: $bp-tablet) {
      margin: 0;
      margin-top: -15px;
      margin-left: 20px;
    }
  
    &:hover {
      transition-duration: 0.2s;
      background-color: rgba(26, 140, 216);
    }
  }

  &__names {
    padding: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: $posts-light-bg;
  }

  &__messages {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background: $background-dark;
    width: 100%;

    @media (min-width: $bp-tablet) {
      max-width: 300px;
      padding: 20px;
      row-gap: 30px;
    }

    @media (min-width: $bp-base) {
      max-width: 580px;
      padding: 40px;
      row-gap: 40px;
    }
  }

  &__input {
    margin: auto;

    @media (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__item {
    background: $posts-light-bg;
    border-radius: 10px;
    margin: auto;
    width: 100%;
    background-color: $background-dark;
    column-gap: 20px;
    display: flex;
    padding-left: 0;
    max-width: 290px;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      @media (min-width: $bp-mobileplus) {
        max-width: 450px;
      }
      @media (min-width: $bp-tablet) {
        margin: 0;
        max-width: 650px;
        padding-left: 20px;
      }
  }

  &__img {
    background: $background-dark;
    img {
      width: 50px;
      border-radius: 50px;
    }
  }

  &__text {
    width: 100%;
    color: $light-text;
    background: #484c55;
    margin: 0;
    border-radius: 10px;
    padding: 15px;
    word-wrap: break-word;
    max-width: 185px;

    @media (min-width: $bp-mobileplus) {
      max-width:200px;
    }
    @media (min-width: $bp-tablet) {
      max-width:220px;
    }
  }
}

.name {
  font-size: 16px;
  color: $light-text;
}

.active {
  color: #2BA7F3;
 }

